body {
    background: url('../images/tex-gplaypattern.png');   /* texture from www.subtlepatterns.com */
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 20px;
}

li {
    font-size: 20px;
}

h3 {
    font-size: 28px;
    font-weight: 600;
}

header {
    text-align: center;
    margin-bottom: 5em;
}

header h1 {
    font-size: 96px;
}

header h2 {
    font-size: 64px;
}

footer {
    display: flex; 
    justify-content: center;
}

footer .footer-img {
    background: black; 
    max-height: 64px; 
    border-radius: 20%; 
    padding: 10px;
    margin: 0px 5px 0px 5px;
}

/* Custom classes */
.section {
    margin-bottom: 50px;
    padding: 20px;
}

/* http://vclever.com/blog/how-to-style-a-heading-with-horizontal-lines-either-side-using-css/ */
.section-header {
    overflow: hidden;
    text-align: center;
   }
   .section-header:before,
   .section-header:after {
    background-color: #333;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 20%;
   }
   .section-header:before {
    right: 0.5em;
    margin-left: -50%;
   }
   .section-header:after {
    left: 0.5em;
    margin-right: -50%;
   }

.content-grid{
    width: 100%;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 2em;
}

/* .content-grid-item {
    width: 100%;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr;
    justify-items: center;
} */

.content-grid-item {
    width: 100%;
    background-color: #fbfbfb;
    border: 2px solid black;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* remove underline after icon links */
.content-grid-item a {
    text-decoration: none;
}

.content-grid-item h3 {
    margin-bottom: 5px;
}

.content-grid-item p {
    text-align: center;
}

.business-image {
    max-height: 200px;
    border: 1px solid black;
}

.content-grid-item .game-icon-wrap {
    max-height: 400px;
    margin: auto;
    margin-bottom: 20px;
    z-index: 1;
}

.content-grid-item .game-icon-wrap img {
    max-height: 300px;
    border-radius: 10px;
}

.content-grid-item .game-icon {
    max-height: 400px;
}

.content-grid-item .game-button-tray {
    position: absolute; 
    bottom: 30px;
    z-index: 2; 
}

.content-grid-item .game-button {
    max-height: 50px;
    margin-left: 5px;
    opacity: 0.1;
}

.content-grid-item #stay-gray {
    opacity: 0.1;
}

.quote {
    margin-bottom: 2em;
    font-size: 16px;
    font-style: italic;
    text-align: center;
}